body {
    color: #797979;
    background-color: lightyellow;
    font-family: 'Montserrat', sans-serif;
    display: flow-root;
    align-items: center;
    justify-content: center;

}

h1 {
  color: pink;
  text-align: center;
}


.up-down-buttons{
  text-align: center;
}

.psm-button{
  text-align: center;
}

.current-temp{
  text-align: center;
}

button:hover{
  color:#DDDDDD;
   border-color:#DDDDDD;
}

button:focus{
  background-color:#AAAAAA;
}

button:active{
  color:#BBBBBB;
  border-color:#BBBBBB;
}
