body {
    color: #797979;
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

h1 {
  color: pink;
}

h3 {
  color: green;

}

button:hover{
  background-color:lightpink;
}

button:focus{
  background-color:lightyellow;
}
